/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

body {
  font-family: 'Open Sans', sans-serif;
}

p {
  line-height: 2rem;
}

.primary-color {
  background: rgb(96, 144, 192);
}

.secondary-color {
  background: rgb(96, 120, 220);
}

.grad-btn {
  background: rgb(96, 144, 192); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(top left, rgb(145, 196, 192), rgb(96, 144, 192));
  background: -moz-linear-gradient(top left, rgb(145, 196, 192), rgb(96, 144, 192));
  background: -o-linear-gradient(top left, rgb(145, 196, 192), rgb(96, 144, 192));
  background: linear-gradient(to bottom right, rgb(145, 196, 192), rgb(96, 144, 192));
}

.button-collapse {
  color: #26a69a;
}

.btn-height {
  position: relative;
  top: 280px;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#image-test, #palestrantes, #local {
  opacity: 0;
}

#map {
  height: 370px;
  width: 100%;
}

.map-descricao {
  height: 370px;
  width: 100%;
}

.address-padding {
  padding-top: 50px;
  padding-left: 50px;
}

.hr-class {
  color: rgb(102, 102, 1102)
}